.dataTable{

  .cellWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    
    .productImg{
      width: 32px;
      height: 32px; 
    }
    
  }

  .status{

    padding: 5px;
    border-radius: 5px;

    &.Approved{
      color: #008000;
      background-color: rgba(0, 128, 0, 0.338);
    }
    &.Pending{
      color: #dbac35;
      background-color: rgba(220, 173, 52, 0.231);
    }
    &.Approved{
      color: green;
      background-color: rgba(0, 128, 0, 0.338);
    }
  }

}